@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
body{
    position: relative;
}
html{
    scroll-behavior: smooth;
}
:root{
    --padding-lg: .5rem 3rem;
    --padding-sm: .5rem;
}
ul, ol{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    font-size: 18px;
}
#home{
    min-height: 100vh;
    background: royalblue;
    background-size: cover;
    background-position: center center;
    padding: var(--padding-lg);
}
.nav-container{
    display: flex;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
}
.fixed-navbar{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--padding-lg);
    box-shadow: 0 0 2px 0 #999;
}
.logoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links-container{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}
.links-list > li{
    display: inline;
    margin: 0 20px;
}
.links-list > li:last-child{
    margin-right: 0;
}
.toggle-container{
    display: none;
}
.banner{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 50%;
    margin: 0 auto;
    background: tomato;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}
.images-container{
   width: 80vh;
   border-top-right-radius: 60px;
   overflow: hidden;
}
.section{
    width: 100%;
    min-height: 100vh;
    padding: var(--padding-lg);
}
#portfolio,#about{
    background: #f6f8f9;
}
.intro-container{
    width: 55%;
    margin-bottom: 20px;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.q-container{
    width: 60%;
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.img-container{
    width: 90vh;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.section-title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: royalblue;
}
.section-subtitle{
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 400;
}
.quality{
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 #999;
    margin-bottom: 15px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.img{
    width: 60px;
    height: 60px;
    background: tomato;
    margin-right: 10px;
}
.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-container{
    margin-top: 15px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    place-items: center;
    align-items: center;
}
.service{
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service > h3 {
    margin: 10px 0;
}
.footer{
    background: chartreuse;
    padding: var(--padding-lg);
}
.top-link{
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: tomato;
    width: 2rem;
    height: 2rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: #fff;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}
.show-link {
    visibility: visible;
    z-index: 100;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 950px) {
      .section, #home{
          min-height: 50vh;
      }
  }

  @media screen and (max-width: 909px) {
      #home, .section{
          padding: var(--padding-sm);
          min-height: 50vh;
          height: fit-content;
      }
      .fixed-navbar{
          padding: var(--padding-sm);
      }
      .logoContainer{
          width: 100%;
      }
      .links-container{
          background: chartreuse;
          position: absolute;
          top: 40px;
          right: 0;
          left: 50%;
          height: 100vh;
          justify-content: center;
          visibility: hidden;
          transition: all 20ms linear;
      }
      .links-list > li {
          display: block;
          margin: 20px 0;
          font: 16px;
      }
      .show-links{
        visibility: visible;
        transition: all 20ms linear;
    }
      .toggle-container{
          display: block;
      }
      .banner{
          flex-direction: column;
      }
      .container, .images-container{
          width: 100%;
      }
      .images-container{
          margin-bottom: 50px;
      }
      .about-container{
          flex-direction: column-reverse;
      }
      .img-container{
          width: 100%;
          margin-left: 0;
      }
      .q-container{
          width: 100%;
      }
      .intro-container{
          width: 100%;
      }
      .section-subtitle{
          text-align: center;
      }
      .q-container{
          min-height: 300px;
      }
  }

  @media screen and (max-width: 707px) {
      #home, .section{
          min-height: 100vh;
      }
  }